.card-post {
  border-radius: 20px;
  background-color: white;
  margin: 1.5em 1.25em 1.5em 1.25em;
  overflow: hidden;
  text-align: center;
  height: fit-content;
  min-height: 400px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

.card-header {
  background-color: #3a89c9;
  color: white;
  width: 100%;
  padding: 10px 0;
  margin-bottom: 1em;
}


.card-post:hover{
    transform: scale(1.05);
    cursor: pointer;
    transition: ease-in;
}

.card-post h2 {
  font-size: 2.5em;
  margin-bottom: 5px;
}

.card-post p {
  font-size: 1.5em;
  line-height: 2;
}

.card-post small {
  color: #605d5d;
}

.card-post a {
  text-decoration: none;
  display: inline-block;
  font-size: 1.3em;
  font-weight: bold;
  background-color: #3a89c9;
  color: white;
  width: 120px;
  height: 10%;
  border-radius: 15px;
  margin-top: 1em;
}

.card-post a:hover {
  background-color: #1c598b;
}

#card-content {
  word-wrap: break-word; 
  overflow-wrap: break-word;
  white-space: normal;
  margin-left: 1em;
  margin-right: 1em;
}